body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	background: url('http://www.lancefarrow.ca/wp-content/uploads/2014/06/triangle-background-17-1030x494.png');
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
	position: fixed;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.nav {
	margin: 0px;
	padding: 0px;
	height: 50px;
}

.nav #nav-head {
	font-weight: bold;
	text-transform: uppercase;
}

.nav li {
	list-style: none;
	float: left;
}

.nav li a:link, .nav li a:visited {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: grey;
}

.nav li a:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.nav li ul {
	position: absolute;
	visibility: hidden;
	border-top: 1px solid #fff;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.nav li ul li {
	display:inline;
	float:none;
}

.nav li ul li a:link, .nav li ul li a:visited {
	width:auto;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
}

.nav li ul li a:hover {
	width:auto;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.tagline {
	font-size: 90px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.6);
	margin: auto;
	position: relative;
	width: auto;
	/*top: 20%;*/
	/*transform: translateY(25%);*/
}

.container {
	padding-left: 80px;
	padding-right: 80px;
}

h3 {
	font-size: 32px;
}

label {
	font-weight: bold;
}

input, select {
	font-size: 15px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid rgba(101,195,209,0.4);
	-webkit-appearance: none;
}

select:hover {
	cursor: pointer;
}

input:focus, select:focus {
	outline: none;
	border: 1px solid rgba(101,195,209,1);
}

#utilities label, input, select {
	margin-top: 20px;
}

.footer {
	height: 40px;
}