body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	background: url('https://c1.staticflickr.com/9/8297/7801882114_e2c0283b53_b.jpg');
	opacity: 0.2;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
	position: fixed;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tagline {
	position: relative;
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	background-color: rgba(240, 240, 240, 1);
}

.menu {
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: rgba(200,200,200,1); /*rgba(0,0,0,0.2)*/
}

.nav {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	font-size: 18px;
}

.nav #nav-head {
	font-weight: bold;
	text-transform: uppercase;
}

.nav li {
	list-style: none;
	float: left;
	margin-right: 10px;
}

.nav li a:link, .nav li a:visited {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: gray;
}

.nav li a:hover {
	/*background-color: rgba(0, 0, 0, 0.8);*/
	/*color: white;*/
}

.nav li ul {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	z-index: 1;
	font-size: 15px;
}

.nav li ul li {
	display: inline;
	float: none;
}

.nav li ul li a:link, .nav li ul li a:visited {
	width: auto;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	padding-right: 50px;
	min-width: 250px;
	-webkit-transition: background-color 0.2s; /* Safari */
	transition: background-color 0.2s;
}

.nav li ul li a:hover {
	width: auto;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.container {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
}

h3 {
	font-size: 30px;
	margin-top: -40px;
	padding-top: 80px;
	margin-bottom: 10px;
}

p, b, label {
	font-size: 18px;
}

a:link, a:visited {
	text-decoration: none;
	color: #314775;
	transition: color 0.3s;
}
a:hover {
	color: black;
}

label {
	font-weight: bold;
}

input, button, select {
	font-size: 15px;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.1);
	-webkit-appearance: none;
	transition: border 0.3s;
}
input {
	background-color: rgba(255,255,255,0.8);
}
button {
	background-color: rgba(50,50,50,0.2);
	background-color: rgba(255,255,255,0);
}
button:hover, select:hover {
	cursor: pointer;
}
input:hover, button:hover, select:hover, input:focus, select:focus{
	outline: none;
	border: 1px solid rgba(0,0,0,0.5);
}
button:focus {
	outline: none;
	/*border: 1px solid rgba(0,0,0,0.5);*/
}
label, input, button, select {
	margin-top: 5px;
}

.home, .indoor-duration, .olympiad, .utilities {
	display: none;
}